:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}
h1 h2 h3 h4 h5 h6 p {
  margin-top: 0;
}
.footer-link {
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Button */
.button {
  padding: 16px 32px;
  margin-bottom: 14px;
  color: var(--color-primary-light);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: var(--color-brand) solid;
  border-radius: 32px;
  cursor: pointer;
  line-height: 1.16;
}
.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-icons {
  fill: var(--color-primary-dark);
  display: flex;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
.header-item {
  margin-right: 56px;
}
/* Link */
.link {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand);
}
/* Hero-section */
.hero-section {
  padding: 126.81px 0;
  padding-top: 123px;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  margin-top: 16px;
  margin-bottom: 40px;
}
.section-title .accent {
  color: var(--color-brand);
  font-family: "Play", sans-serif;
}
.section-title {
  font-family: "Play";
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}
.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}
.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.beauty,
.zone {
  display: block; /*  кожне слово з нового рядка */
}
.second-container {
  display: flex;
  gap: 28px;
  justify-content: space-between;
}
.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.face img {
  width: 335px;
  height: 328px;
  object-fit: cover;
  border-radius: 50%;
}

.second-content {
  max-width: 710px;
}
.aboutus-section {
  padding: 63.24px 0;
  margin-bottom: 40px;
}
.whyweare-section {
  padding: 88px 0;
  margin-bottom: 48px;
  text-align: center;
  margin-top: 48px;
  background-image: url(../images/whyweare-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.whyweare-icons {
  fill: var(--color-brand);
}
.procedures-section {
  padding: 48px 0;
  margin-bottom: 48px;
}
.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.procedures-images {
  gap: 16px;
  display: flex;
}
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: var(--color-primary-dark);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  flex-shrink: 0;
}
.carousel-button:hover {
  background-color: var(--color-brand);
  border-color: var(--color-primary-light);
}
.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}
.carousel-arrow {
  fill: var(--color-primary-dark);
}

.formats-list {
  display: flex;
  gap: 56px;
  justify-content: center;
}
.advantage {
  border: 1px solid;
  border-radius: 32px;
  border-color: #ffffff;
  padding: 24px;
  width: 316px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 252px;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.format-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}
.contact-section {
  padding: 48px 0;
  margin-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.footer-logo {
  width: 83px;
  height: auto;
  flex-grow: 1;
}
.footer-menu {
  flex-grow: 1;
}
.footer-adress {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.footer-link {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  text-decoration: none;
}
.adress-list {
  flex-grow: 1;
}
.adress-info {
  flex-grow: 1;
}
.footer-link:hover {
  color: #2b7fff;
}
.adress-social {
  fill: #ffffff;
}
.adress-social:hover {
  fill: #2b7fff;
  cursor: pointer;
}
.footer-copyright {
  color: #747272;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
}
.footer {
  padding: 56px 0;
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-color: #011c44;
  background-position: center;
  background-size: cover;
}
